/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.8/checksums/checksums.lock
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/8.8/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
